#line1{
	background-color: #6fbe44;
	background-repeat: no-repeat;
	background-position: left top;
	height: 193px;
}
#line2{
	background-color: #797979;
	height: 140px;
}
/*body{
	font-family: Verdana;
	color: #333333;
	background-image: url(img/sfondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
img.center{
	display: block;
	width: 960px;
	height: auto;
	position: relative;
	left: -30px;
}
img.min{
	display: block;
	float: left;
}
img.min2{
	margin-left: 53px;
}
ul{
	list-style-type: none;
	text-indent: -15px;
}
ul ul{
	text-indent: -30px;
}
ul ul ul{
	text-indent: -60px;
}
hr.up{
	position: relative;
	top: -18px;
}
.bold{
	font-weight: 600;
}
.tab{
	white-space: pre;
}
.menubutton{
	display: block;
	float: left;
	padding: 8px;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #eeeeee;
}
#page{
	background-color: white;
	width: 1000px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 5px 5px 10px black;
}
#header{
	display: block;
	float: left;
	background-color: #cccccc;
	width: 910px;
	height: 80px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 20px;
	padding-right: 30px;
}
.logo{
	display: block;
	float: left;
	background-image: url(img/logo_website.gif);
	background-repeat: no-repeat;
	background-size: contain;
	height: 190px;
	width: 300px;
	z-index: 100;
	position: absolute;
	top: 36px;
}
.olympic{
	display: block;
	width: 200px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	float: left;
	background-image: url(img/logo_01.gif);
	background-repeat: no-repeat;
	background-size: contain;
}
#contactLabel{
	display: block;
	float: right;
	font-size: 70%;
	padding-top: 23px;
	padding-right: 10px;
}
#contactInfo{
	display: block;
	float: right;
	font-size: 70%;
	padding-top: 23px;
	text-align: right;
}
#nav{
	display: block;
	float: left;
	background-color: #dddddd;
	border-bottom: 1px solid #ff0000;
	font-size:;
	width: 620px;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 340px;
}
#nav a:link{color: #333333;text-decoration: none;}
#nav a:visited{color: #333333;text-decoration: none;}
#nav a:hover{color: #ff0000;}
.fb{
	display: block;
	float: right;
	background-image: url(img/fb.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 30px;
	width: 30px;
	margin-top: 2px;
	margin-right: 30px;
}
#content{
	clear: both;
	background-color: #eeeeee;
	text-align: justify;
	width: 900px;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 30px;
	padding-right: 30px;
}
#col1{
	display: block;
	float: left;
	border: 2px solid black;
	width: 436px;
	height: 100px;
	margin-right: 20px;
}
#col2{
	display: block;
	float: left;
	border: 2px solid black;
	width: 436px;
	height: 100px;
}
#thumbnail{
	width: 900px;
}
#view{
	display: block;
	clear: both;
	background-color: #cccccc;
	height: 500px;
}
#footer{
	display: block;
	clear: both;
	background-color: #cccccc;
	font-size: 70%;
	width: 960px;
	height: 40px;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 3px;
	text-align: center;
}*/