body{
	background-image: url(img/background_header.jpg);
	background-repeat:repeat-x;
	font-family: Verdana;
	font-size: 80%;
}
ul{
	list-style-type: none;
	text-indent: -15px;
}
ul ul{
	list-style-type: disc;
	text-indent: 5px;
}
.bold{
	font-weight: 600;
}
.right_flag{
	text-align: right;
}
.tab{
	white-space: pre;
}
.hidden{
	display: none;
}
#header{
	width: 900px;
	height: 330px;
	margin-left: auto;
	margin-right: auto;
}
.logo{
	display: block;
	background-image: url(img/logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 600px;
	height: 130px;
	position: relative;
	top: 1px;
	/*INIZIO versione mobile*/
	left: 146px;
	/*FINE versione mobile*/
	z-index: 100;
}
/*INIZIO ISTRUZIONI PER LOGO OLIMPIADI
a.logo_oly{
	display: block;
	float: left;
	background-image: url(img/button_olympic.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 228px;
	height: 232px;
	position: relative;
	left: 0px;
	z-index: 98;
}
a.logo_oly:hover{
	background-image: url(img/button_color_olympic.png);
}
a.button_home{
	display: block;
	float: left;
	background-image: url(img/button_home.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 82px;
	height: 302px;
	position: relative;
	top: -66px;
	left: 0px;
	z-index: 99;
}
a.button_home:hover{
	background-image: url(img/button_color_home.png);
}
.button_home_here{
	display: block;
	float: left;
	background-image: url(img/button_bw_home.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 82px;
	height: 302px;
	position: relative;
	top: -66px;
	left: 0px;
	z-index: 99;
}
a.button_rates{
	display: block;
	float: left;
	background-image: url(img/button_rates.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 82px;
	height: 302px;
	position: relative;
	top: -66px;
	left: 8px;
	z-index: 99;
}
a.button_rates:hover{
	background-image: url(img/button_color_rates.png);
}
.button_rates_here{
	display: block;
	float: left;
	background-image: url(img/button_bw_rates.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 82px;
	height: 302px;
	position: relative;
	top: -66px;
	left: 8px;
	z-index: 99;
}
a.button_loc{
	display: block;
	float: left;
	background-image: url(img/button_loc-cont.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 82px;
	height: 302px;
	position: relative;
	top: -66px;
	left: 16px;
	z-index: 99;
}
a.button_loc:hover{
	background-image: url(img/button_color_loc-cont.png);
}
.button_loc_here{
	display: block;
	float: left;
	background-image: url(img/button_bw_loc-cont.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 82px;
	height: 302px;
	position: relative;
	top: -66px;
	left: 16px;
	z-index: 99;
}
.image_home{
	display: block;
	float: left;
	background-image: url(img/picture.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 402px;
	height: 302px;
	position: relative;
	top: -66px;
	left: 24px;
	z-index: 99;
}
FINE ISTRUZIONI PER LOGO OLIMPIADI*/
a.button_home{
	display: block;
	float: left;
	background-image: url(img/button_home.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 82px;
	height: 302px;
	position: relative;
	top: -66px;
	left: 88px;
	z-index: 99;
}
a.button_home:hover{
	background-image: url(img/button_color_home.png);
}
.button_home_here{
	display: block;
	float: left;
	background-image: url(img/button_bw_home.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 82px;
	height: 302px;
	position: relative;
	top: -66px;
	left: 88px;
	z-index: 99;
}
a.button_rates{
	display: block;
	float: left;
	background-image: url(img/button_rates.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 82px;
	height: 302px;
	position: relative;
	top: -66px;
	left: 92px;
	z-index: 99;
}
a.button_rates:hover{
	background-image: url(img/button_color_rates.png);
}
.button_rates_here{
	display: block;
	float: left;
	background-image: url(img/button_bw_rates.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 82px;
	height: 302px;
	position: relative;
	top: -66px;
	left: 92px;
	z-index: 99;
}
a.button_loc{
	display: block;
	float: left;
	background-image: url(img/button_loc-cont.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 82px;
	height: 302px;
	position: relative;
	top: -66px;
	left: 96px;
	z-index: 99;
}
a.button_loc:hover{
	background-image: url(img/button_color_loc-cont.png);
}
.button_loc_here{
	display: block;
	float: left;
	background-image: url(img/button_bw_loc-cont.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 82px;
	height: 302px;
	position: relative;
	top: -66px;
	left: 96px;
	z-index: 99;
}
.image_home{
	display: block;
	float: left;
	background-image: url(img/picture.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 402px;
	height: 302px;
	position: relative;
	top: -66px;
	left: 160px;
	z-index: 99;
}
#page{
	width: 900px;
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 15px;
}
#content{
	display: block;
	float: left;
	width: 420px;
	text-align: justify;
	line-height: 150%;
	padding-right: 15px;
}
#content_right{
	display: block;
	float: right;
	width: 420px;
	text-align: justify;
	line-height: 150%;
	padding-left: 15px;
}
.gallery{
	display: block;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
#pink{
	clear: both;
	background-image: url(img/background_pink.jpg);
	width: 900px;
	height: 14px;
	margin-left: auto;
	margin-right: auto;
}
#footer{
	background-image: url(img/background_red.jpg);
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 60%;
	color: #ffffff;
	padding-top: 3px;
	padding-bottom: 3px;
}